<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10 col-12">
            <div class="jumbotron">
                <h1 class="display-4">Bem-Vindo ao Site</h1>
                <p class="lead">Este é um simples sites de cadastro de Usuário e acesso a API Punk</p>
                <hr class="my-4">
                <p>É um site para que os usuários possam se cadastrar e acessar api Punk 
                    de cervejaria.</p>
              </div>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>